
backend/src/main/resources/insert_academicErp.sql
backend/src/main/resources/static/photos/b68cd13c-756b-49f1-97d8-34daedabc6ba_james.avif
backend/src/main/resources/static/photos/b68cd13c-756b-49f1-97d8-34daedabc6ba_james.avif
backend/src/main/resources/static/photos/d62276d3-1545-44ec-86ce-16e6e70bc609_james.avif
backend/src/main/resources/static/photos/eb3c3b64-837b-4cb8-bd9e-94634a679a68_frank.jpg
backend/src/main/resources/static/photos/f8ad40c4-c09a-4cee-87b5-6aae784c3e68_charlie.jpeg
backend/src/main/resources/static/companies_photos/57da1807-bbc0-4894-98b4-5d848dc6820b_microsoft.jpg
backend/src/main/resources/static/companies_photos/52bb22da-f6a9-44b0-917c-cb36f8fbcf8d_accenture.jpg
backend/src/main/resources/static/companies_photos/4f19a755-9030-4091-950b-935a03474689_amazon.jpg
backend/src/main/resources/static/companies_photos/602f19d7-ef57-44d5-b552-def510c2f9f6_intel.jpg
backend/src/main/resources/static/companies_photos/604bb520-d572-44c6-85dd-4352f34114b7_infosys.jpg
backend/src/main/resources/static/companies_photos/6d530173-0477-459c-a494-35b201de2e95_wipro.jpg
backend/src/main/resources/static/companies_photos/7107ff7a-888b-40e5-8289-feee9deb370e_cisco.jpg
backend/src/main/resources/static/companies_photos/fd63b243-e64f-4a6b-986e-fecd22f25d4b_hcl.jpg
backend/src/main/resources/static/companies_photos/d45c3604-10be-45f5-9d00-7fcf2894c5ec_flipkart.jpg
backend/src/main/resources/static/companies_photos/b359dbd5-592b-4e41-974e-b9a9e00c65b7_tcs.jpeg
*.jpg
*.jpeg
*.avif
*.jpg
*.avif
*.avif
*.jpg
*.avif
*.jpg
*.jpg
*.jpeg
*.pdf
*.pdf
*.jpeg
*.jpg
backend/src/main/resources/static/companies_photos/2098acc7-1ded-48e0-9b19-ed9273b39f9b_flipkart.jpg
*.jpg
*.avif
*.avif
backend/src/main/resources/static/cvs/407928be-1bb8-412b-8ebf-c85d686ecb60_john.jpeg
*.avif
